#row1{
    height: 40%;
    width: 60%;
    margin: 0 auto;
}
h3{
    padding-top: 50px;
}


/* user profile page */

.userInfoCon{
    width: 600px;
    height: 800px;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 3%;
    margin-top: 70px !important;
    background-color: aliceblue;
}
@media only screen and (max-width: 600px) {
    .userInfoCon{
        width: 95%;
    }
}

#userInfoHeader{
    border-bottom: 5px solid black;
    text-align: center;
}

.userInfo{
    margin-top: 100px;
}
.userInfo h5{
    /* margin-top: 30px; */
    margin-left: 15px;
}
#secondCol{
    margin-left: 45px;
    
    
}

.containerPass{
  display: inline-block;
  text-align: center;
}

.containerPass .alert{
  text-align: left;
}

#currentPassword{
  margin-left: 40px;
}
#newPassword1{
  margin-left: 65px;
}
#changePassBtn{
  margin-top: 30px;
  margin-left: 60px;
}

/* overlay card */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 25%;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


/* index page */

body{
  background-color: #dddada !important;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  min-height: 300px;
}
.cards {
  margin-left: 80px;
}

#homeBtn{
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 0px 0px 7px 7px;
  background:linear-gradient(to bottom, #ffa601 5%, #fb9e25 100%);
  background-color:#ffa601;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:20px;
  font-weight:bold;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffa601;
  width: 80px;
  text-align: center;
}